@page "/home"
@using FuelStation.Blazor.Shared.Services
@inject AppState AppState

<PageTitle>Home</PageTitle>
@if (!AppState.LoggedIn)
{
    <FuelStation.Blazor.Client.Components.AccessDenied />
}
else
{
    <h1>Welcome to FuelStation!</h1>

    <span>You are currently logged in as <b>@AppState.EmployeeType</b></span>
}

